<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/font-awesome-4.5.0/css/font-awesome.css">

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/socket.io/socket.io.js"></script>
<script src="/lib/cookie/jquery.cookie.js" ></script>
<script src="/javascripts/addFriend.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/search.js"></script>
<script src="/javascripts/friendList.js"></script>
<script src="/javascripts/initemoj.js"></script>


