<div  class="loginBox">
    <form>
        <input type="text" class="form-control" placeholder="username" id="usr" name="username">
        <input type="password" class="form-control" id='psd' placeholder="password" name="password">
        <button type="submit" class="btn" id="loginBtn">登 录</button>
    </form>
    <div id="login_msg">
        <P>还没有账号吗，点击<a href="/register">注册</a></P>
    </div>
</div>
<script src="/javascripts/login.js"></script>