<div  class="registerBox">
    <form>
        <label>新来的，请注册</label>
        <div class="input-group">
            <input type="tel" class="form-control" id="newTel"  placeholder="telephone"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" id="newUsr"  placeholder="username"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="input-group">
            <input type="password" class="form-control" id='newPwd' placeholder="password" name="password" required="required">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <button type="submit" class="btn" id="adduserBtn">注册</button>
        <p class="login-msg"></p>
    </form>
</div>
<script src="/javascripts/register.js"></script>
